:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --white: white;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--cream);
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--soft-red);
  width: 90%;
  height: 150px;
  margin: 30px auto 0;
  border-radius: 10px;
}
.header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.header__item--first {
  font-size: 25px;
  color: var(--white);
}

.header__item--second {
  font-size: 40px;
  color: var(--white);
  font-weight: bold;
}

svg {
  margin-right: 30px;
}

/* card */

.card {
  width: 90%;
  height: 500px;
  background-color: var(--very-pale-orange);
  margin: 30px auto 0;
  border-radius: 10px;
}

.card__title {
  font-size: 25px;
  color: var(--dark-brown);
  margin: 20px 0 0 20px;
}

#my-chart.column {
  --color: var(--soft-red);
  width: 90%;
  height: 200px;
  margin: 40px 0 0 20px;
  padding: 0;
}

td {
  border-radius: 5px;
}

#motion-effect td:hover {
  background-color: var(--cyan);
}

th {
  color: var(--medium-brown);
}

.tooltip {
  position: absolute;
  top: -50px;
  height: 30px;
}

.border {
  width: 90%;
  height: 3px;
  background-color: var(--cream);
  margin: 30px auto;
}

.summary {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.summary__item {
  margin-left: 20px;
}

.summary__item--first {
  font-size: 15px;
  color: var(--medium-brown);
}

.summary__item--second {
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
}

.lastmonth {
  margin-top: 20px;
}

.lastmonth__item {
  margin-right: 20px;
  text-align: right;
}

.lastmonth__item--first {
  font-size: 15px;
}

.lastmonth__item--second {
  font-size: 20px;
}

@media (min-width: 1440px) {
  body {
    margin: auto;
  }
  .header {
    width: 40%;
    height: 150px;
  }

  .card {
    width: 40%;
    height: 500px;
  }

  #my-chart.column {
    margin: 40px 0 0 30px;
  }
}
